*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
*.class
generated/
build/
gradle-wrapper.jar
*.ipr
*.iws
Thumbs.db
capture/
*.keystore
*.jks
logs/
*.log
.env
